body {
  max-width: 100%;
  overflow-x: hidden;
}

header {
  max-width: 100%;
}

nav {
  position: fixed;
  display: flex;
  height: 40px;
  width: 100%;
  top: 0;
  background-color: white;
  z-index: 3;
}

nav > ul > li {
  list-style: none;
}

.left-nav {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
}

.right-nav {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  top: 0;
  right: 0;
  margin-right: 20px;
  background-color: black transparent;
}

#navlogo {
  position: absolute;
  top: 0;
  left: 0;
  margin-right: 0px;
  width: 100px;
  height: 40px;
  margin-left: -3px;
  background-color: black;
}

main {
  padding-top: 50px;
}

#main-articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  position: relative;
  width: 100%;
  height: 450px;
}

.source {
  padding-top: 100px;
  margin-bottom: 0px;
  color: white;
  font-size: bold;
}

.main-title {
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  font-size: bold;
}

.main-author {
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
  color: grey;
  font-size: lighter;
}

#source1 {
  grid-area: 1/1/3/3;
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0.596), rgba(128, 128, 128, 0.342)),
    url("assets/Galaxy-hed-796x419.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: auto;
  width: 100%;
  position: relative;
}

#source2 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 100)),
    url("assets/Eye-strain-screen-time-hed-368x276.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: auto;
  width: 100%;
  grid-area: 1/3/2/4;
  position: relative;

}

#source3 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 100)),
    url("assets/Sleep-hed-796x419.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: auto;
  width: 100%;
  position: relative;
  grid-area: 2/3/4/5;
}

section {
  margin-left: 10%;
  margin-right: 10%;
}

.latest-funding{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 25px;
  width: 25%;
  height: 300px;
}

.latest-article1 {
  display: grid;
  grid-template-rows: 40%;
  width: 100%;
}

.latest-article1b {
  display: flex;
  flex-direction: column;
}

.tag {
  margin-bottom: 15px;
  list-style: none;
}

.portfolio {
  list-style: none;
}


.latest-text {
  color: red;
  font-size: 25px;
  margin-top: 55px;
  font-weight: 600;
}

.latest-items {
  color: red;
  margin-bottom: 10px;
  font-size: 13px;
}

.latestarticleprice, .latestarticlebrand {
  margin-left: 200px;
  padding: ;
}

.latest-article-title {
  background-color: rgb(223, 54, 54);
  color: white;
  font-weight: 500;
  position: absolute;
  z-index: 2;
  margin-left: 50px;
}

hr {
  margin-left: 10px;
  margin-right: 10px;
}

.latest-article-span {
  color: gray;
  font-size: 13px;
}

.latestarticlegrou {
  background-color: rgb(235, 201, 197);
} 

.latest-article1 > img {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 1;
}

.latest-article2 > img {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 1;
}

.latest-article3 > img {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 1;
}

#categories-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  max-width: 1330px;
  gap: 10px;
}

.category-item {
  position: relative;
  max-width: 406px;
  margin-top: 60px;
}

.category-item::after {
  content: '';
  padding-bottom: 100%;
  max-width: 100%;

}

.category-item-mostpopularimage {
  position: absolute;
  z-index: -1;
  width: 400px;
  height: 276px;
}

.category-item-mostpopularimage-gradient {
  position: absolute;
  z-index: 0;
  width: 400px;
  height: 276px;
}

.category-item-title {
  font-size: 28px;
  color: red;
  font-weight: bolder;
  padding: 10px 0;
  margin: 0;
}

.category-item-mostpopular {
  height: 276px;
  width: 400%;
}

.category-item-mostpopular-category,
.category-item-mostpopular-title {
  padding-top: 150px;
  position: absolute;
  color: white;
}

.category-item-mostpopular-author {
  padding-top: 200px;
  position: absolute;
  color: gray;
}

.category-item-mostpopular-time {
  padding-top: 225px;
  position: absolute;
  color: gray;
}

.category-item-mostpopular > p {
  margin-bottom: 0px;
}

.category-item-mostpopular-category {
  padding-top: 125px;
}

.category-item-latest {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color:bisque;
  position: relative;
}

.category-item-latest-category {
  margin-bottom: 3px;
  margin-left: 20px;
}

.category-item-latest-title {
  margin-top: 0;
  margin-left: 10px;
}

.category-item-latest-image {
  width: 100px;
  height: 90px;
  position: absolute;
  top: 0;
  right: 5px;
}

.latest-news {
  margin-top: 100px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  max-width: 1330px;
}

.latest-news-article {
  max-width: 300px;
}

.latest-news-article > img {
  max-width: 100%;
  height: auto;
}

.latest-title {
  padding: 5px;
}

.latest-deals {
  padding: 5px;
  font-size: 00.9rem;
  color: rgba(128, 128, 128, 0.74);
}

.cross {
  text-decoration: line-through;
}

footer {
  margin-left: -10px;
  margin-bottom: -20px;
  background-color: black;
  text-align: center;
  bottom: 0;
  left: 0;
}

#footer-list {
  padding-top: 40px;
}

#footer-list > li {
  list-style: none;
  display: inline;
  padding-right: 15px;
}

#footer-social-media > ul > li {
  color: white;
  display: inline;
  list-style-type: none;
  margin-left: 30px;
}

#footer-list > li > a > i {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: grey;
  color: white;
}

#footer-bottom {
  display: grid;
  margin-left: 25%;
  max-width: 50%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: -150;
}

#footer-bottom p {
  color: white;
}

#footer-bottom img {
  height: 15px;
  width: auto;
}

@media (max-width: 1024px) {
  #categories-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  }
  
  .latest-news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
  }

  #footer-bottom {
    display: grid;
    margin-left: 25%;
    max-width: 50%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto / span 2;
    gap: -150;
  }
}

@media (max-width: 768px) {
  #main-articles {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    position: relative;
    width: 100%;
    height: 510px;
  }

  #source1 {
    grid-area: 1/1/2/2;
    background: url("assets/Galaxy-hed-796x419.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  
  #source2 {
    grid-area: 2/1/3/2;  
  }
  
  #source3 {
    grid-area: 3/1/4/5;
  }

  #categories-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .latest-news {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    margin-top: 0;
    width: 100%;
    gap: 5px;
  }

  .latest-news-article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 80px;
    max-width: 100%;
    gap: 5px;
  }

  .latest-news-article > img {
    width: 40%;
  }

  .latest-news-text {
    width: 95%;
    height: auto;
    margin-left: -100px;
  }

  #footer-bottom {
    display: grid;
    margin-left: 25%;
    max-width: 50%;
    grid-template-columns: 1fr;
    gap: -150;
  }
}
